Customers can buy CDs, searching on the title and the
artist. Record labels send batches of CDs to the warehouse. Keep a
stock count of how many copies of each title are in the warehouse.

Customers can leave reviews for CDs they’ve bought through the
warehouse, which gives each title an integer rating from 1- 10 and
the text of their review if they want to say more.

Buy CD
* In Stock
* Out of stock
* Payment rejected

Search for CD
* Found in catalogue
* Not found in catalogue
* Multiple matches

Receive Batch
* Single title in catalogue
* New title
* Multiple titles

Review CD
* Rating only
* Rating + text

